/* RadSplitter for ASP.NET AJAX - Office2010Silver Skin */

/* Borders */
.RadSplitter_Office2010Silver,
.RadSplitter_Office2010Silver .rspPaneTabContainer,

/* Vertical RadSplitter items */
.RadSplitter_Office2010Silver .rspPane, 
.RadSplitter_Office2010Silver .rspResizeBar,
.RadSplitter_Office2010Silver .rspSlideContainerResize,

/* Horizontal RadSplitter items */
.RadSplitter_Office2010Silver .rspPaneHorizontal,
.RadSplitter_Office2010Silver .rspResizeBarHorizontal,
.RadSplitter_Office2010Silver .rspSlideContainerResizeHorizontal
{
	border-color:#a4abb2;
}

/* When ShowContentDuringLoad="false" */
.RadSplitter_Office2010Silver .rspLoading
{
    background-image: url('Common/loading.gif');
}

/* RadSplitBar/RadSlidingPane resize elements */
.RadSplitter_Office2010Silver .rspResizeBar,
.RadSplitter_Office2010Silver .rspSlideContainerResize,
.RadSplitter_Office2010Silver .rspResizeBarOver,
.RadSplitter_Office2010Silver .rspSlideContainerResizeOver
{
	background-image: url('Splitter/ResizeBarVerticalSprites.gif');
	background-color: #ececec;
    border-right-color:#a4abb2;
}

.RadSplitter_Office2010Silver .rspResizeBarHorizontal,
.RadSplitter_Office2010Silver .rspSlideContainerResizeHorizontal,
.RadSplitter_Office2010Silver .rspResizeBarOverHorizontal,
.RadSplitter_Office2010Silver .rspSlideContainerResizeOverHorizontal
{
	background-image: url('Splitter/ResizeBarHorizontalSprites.gif');
	background-color: #ececec;
    border-bottom-color:#a4abb2;
}

/* RadSlidingPane tab */
.RadSplitter_Office2010Silver .rspPaneTabContainer,
/* RadSlidingPane buttons */
.RadSplitter_Office2010Silver .rspSlideHeaderDockIcon,
.RadSplitter_Office2010Silver .rspSlideHeaderUndockIcon,
.RadSplitter_Office2010Silver .rspSlideHeaderCollapseIcon,
/* RadSplitBar buttons */
.RadSplitter_Office2010Silver .rspCollapseBarExpand,
.RadSplitter_Office2010Silver .rspCollapseBarCollapse,

.RadSplitter_Office2010Silver .rspCollapseBarHorizontalExpand,
.RadSplitter_Office2010Silver .rspCollapseBarHorizontalCollapse
{
    background-image:url('Splitter/ExpandCollapseBarsCommands.gif');
}

/* RadSlidingPane tab */

/* RadSplitBar buttons */

/* RadSlidingPane buttons */

/* RadSlidingPane header */
.RadSplitter_Office2010Silver .rspSlideHeader, 
/* RadSlidingPane title */
.RadSplitter_Office2010Silver .rspSlideTitleContainer,
/* RadSlidingPane tab, SlideDirection=Top/Bottom */
.RadSplitter_Office2010Silver .rspBottom .rspPaneTabContainer,
.RadSplitter_Office2010Silver .rspTop .rspPaneTabContainer
{
	background-image:url('Splitter/slideTitleContainerBgr.gif');
	background-repeat:repeat-x;
}

.RadSplitter_Office2010Silver .rspBottom .rspPaneTabContainer,
.RadSplitter_Office2010Silver .rspTop .rspPaneTabContainer
{
    background-position:0 -1px;
}

/* RadSlidingPane title text */
.RadSplitter_Office2010Silver .rspSlideTitle,
/* RadSlidingPane tab text */
.RadSplitter_Office2010Silver .rspPaneTabText
{
	color:#3b3b3b;
}

