@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<script type="text/javascript">
    $(function () {
        $("#mygrid").iGrid();
    });
</script>
<div class="iGrid">
    <div class="header">
        <table>
            <colgroup>
                <col width="25%" />
                <col width="25%" />
                <col width="25%" />
                <col width="25%" />
            </colgroup>
            <tbody>
                <tr>
                    <th>
                        <input class="igrid-chkall" type="checkbox" />
                        <label for="mygrid-checkall">
                            全选</label>
                    </th>
                    <th>
                        名称
                    </th>
                    <th>
                        address
                    </th>
                    <th>
                        tel
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content">
        <table>
            <colgroup>
                <col width="25%" />
                <col width="25%" />
                <col width="25%" />
                <col width="25%" />
            </colgroup>
            <tbody>
                <tr>
                    <td>
                        <input id="mygrid-check1" class="igrid-chk" type="checkbox" />
                    </td>
                    <td>
                        名称1
                    </td>
                    <td>
                        address
                    </td>
                    <td>
                        tel
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="mygrid-check2" class="igrid-chk" type="checkbox" />
                    </td>
                    <td>
                        名称2
                    </td>
                    <td>
                        address
                    </td>
                    <td>
                        tel
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="mygrid-check3" class="igrid-chk" type="checkbox" />
                    </td>
                    <td>
                        名称3
                    </td>
                    <td>
                        address
                    </td>
                    <td>
                        tel
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="mygrid-check4" class="igrid-chk" type="checkbox" />
                    </td>
                    <td>
                        名称4
                    </td>
                    <td>
                        address
                    </td>
                    <td>
                        tel
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="mygrid-check5" class="igrid-chk" type="checkbox" />
                    </td>
                    <td>
                        名称5
                    </td>
                    <td>
                        address
                    </td>
                    <td>
                        tel
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pager">
    </div>
    @*    <table id="mygrid" class="iGrid" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>
                    <input class="igrid-chkall" type="checkbox" />
                    <label for="mygrid-checkall">
                        全选</label>
                </td>
                <td>
                    名称
                </td>
                <td>
                    address
                </td>
                <td>
                    tel
                </td>
                <td>
                    操作
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="mygrid-check1" class="igrid-chk" type="checkbox" />
                </td>
                <td>
                    名称1
                </td>
                <td>
                    address
                </td>
                <td>
                    tel
                </td>
                <td>
                    操作
                </td>
            </tr>
            <tr>
                <td>
                    <input id="mygrid-check2" class="igrid-chk" type="checkbox" />
                </td>
                <td>
                    名称2
                </td>
                <td>
                    address
                </td>
                <td>
                    tel
                </td>
                <td>
                    操作
                </td>
            </tr>
            <tr>
                <td>
                    <input id="mygrid-check3" class="igrid-chk" type="checkbox" />
                </td>
                <td>
                    名称3
                </td>
                <td>
                    address
                </td>
                <td>
                    tel
                </td>
                <td>
                    操作
                </td>
            </tr>
            <tr>
                <td>
                    <input id="mygrid-check4" class="igrid-chk" type="checkbox" />
                </td>
                <td>
                    名称4
                </td>
                <td>
                    address
                </td>
                <td>
                    tel
                </td>
                <td>
                    操作
                </td>
            </tr>
            <tr>
                <td>
                    <input id="mygrid-check5" class="igrid-chk" type="checkbox" />
                </td>
                <td>
                    名称5
                </td>
                <td>
                    address
                </td>
                <td>
                    tel
                </td>
                <td>
                    操作
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        pager
    </div>*@
</div>
