

/*========================================= Toolbar related CSS ========================*/

.RadFileExplorer_Forest .RadToolBar .rtbText
{
	background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
	background-repeat: no-repeat;
}

/* IE6 does not support the alpha channel of png files, so we force it to use gif */
* html .RadFileExplorer_Forest .RadToolBar .rtbText
{
	background-image: url('FileExplorer/FileExplorerToolbarSpritesIE6.gif') !important;
}

.RadFileExplorer_Forest, 
.RadFileExplorer_Forest .rfeAddressBox,
.RadFileExplorer_Forest .rfeFilterTxt
{
	border-color: #4e7031;
}

.RadFileExplorer_Forest .RadGrid_Forest .rgCommandCell
{
	padding: 0;
}

.RadFileExplorer_Forest .rfeAddressBox,
.RadFileExplorer_Forest .rfeFilterTxt
{
	color: #2b2c20;
}

.DialogSeparator
{
    border-left: solid 1px #688f44;
    border-right: solid 1px #33491d;
    background-color: #4e7031;
}

div.selectedFileName
{
    border-top: solid 1px #618740;
}

/* Thumbnail view */

.RadFileExplorer_Forest .rfeThumbList a:hover,
.RadFileExplorer_Forest .rfeThumbList .rfeSelectedLink,
.RadFileExplorer_Forest .rfeThumbList .rfeSelectedLink:hover
{
	color: #2b2c20;
	background-image: url('../Common/Gradients/forest_smoothSprite_20.png');
	background-color: #d57a08;
	border-color:#ab7d25;
}

.RadFileExplorer_Forest .rfeThumbList a:hover 
{
	color: #fff;
}

.RadFileExplorer_Forest .rfeThumbList .rfeSelectedLink,
.RadFileExplorer_Forest .rfeThumbList .rfeSelectedLink:hover 
{
	color: #fff;
	background-color: #be4401;
	border-color: #751a04;
}

/* Thumbnail filter */
.RadFileExplorer_Forest .rfeFilterContainer
{
	background-image: url('../Common/Gradients/forest_smoothSprite_20.png');
	background-color: #d57a08;
}