/**
 * Organizational Chart Forest Skin
 */




/*----------------------------------------------------------------------------*/




/** Global wrapper */
.RadOrgChart_Forest {
	color: #2b2c20;
	font: normal 12px/22px "Segoe UI", Arial, sans-serif;
}




/** Viewport */
.RadOrgChart_Forest .rocViewport {}




/** NodeList */
.RadOrgChart_Forest .rocNodeList {}




/** Node */
.RadOrgChart_Forest .rocNode {}




/** Group */
.RadOrgChart_Forest .rocGroup {
	border-radius: 10px;
	background-color: #d1deb6;
}




/** ItemList */
.RadOrgChart_Forest .rocItemList {}




/** ItemWrap */
.RadOrgChart_Forest .rocItemWrap {}




/** Items */
.RadOrgChart_Forest .rocItem {}


	.RadOrgChart_Forest .rocItemContent,
	.RadOrgChart_Forest .rocItemTemplate {
		border-color: #3c4c30;
		border-radius: 5px;
		background-color: #4c7822;
		background-image: url('../Common/OrgChart/rocItemTileLight.png');
		_background-image: none;
	}




/** Toggle handle */
/*.RadOrgChart_Forest .rocToggleHandle,*/
.RadOrgChart_Forest .rocExpandArrow,
.RadOrgChart_Forest .rocCollapseArrow,
.RadOrgChart_Forest .rocExpandGroupArrow,
.RadOrgChart_Forest .rocCollapseGroupArrow {
		border-color: #3c4c30;
		border-radius: 3px;
		background-color: #4c7822;
		background-image: url('../Common/Actions/actionExpandCollapseLight.png');
}




/** Node lines */
.RadOrgChart_Forest .rocLineUp,
.RadOrgChart_Forest .rocLineDown,
.RadOrgChart_Forest .rocLineHorizontal {
	background-image: url('../Common/OrgChart/rocLinesDark.png');
}




/** Drag and Drop */
.rocDetachedItemContainer.RadOrgChart_Forest,
.rocDetachedNodeContainer.RadOrgChart_Forest {}




	/** Drag ghost */
	.rocDetachedItemContainer.RadOrgChart_Forest .rocGhostItem,
	.rocDetachedNodeContainer.RadOrgChart_Forest .rocGhostNode {
		border-color: #3c4c30;
		border-radius: 5px;
		background-color: #4c7822;
		background-image: url('../Common/OrgChart/rocItemTileLight.png');
		_background-image: none;
	}




	/** Drag Drop Clue */
	.rocDetachedItemContainer.RadOrgChart_Forest .rocDropClue,
	.rocDetachedNodeContainer.RadOrgChart_Forest .rocDropClue {
		background-image: url('../Common/Actions/actionDragDropDark.png');
	}